[mysqld]
port=3306
socket=/var/mysql/socket1
datadir=/var/mysql/datadir1
pid-file=/var/mysql/mysql-inst-1.pid

ssl-ca=/var/mysql/ca.crt
ssl-cert=/var/mysql/server.crt
ssl-key=/var/mysql/server-key.pem
